@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
  padding-top: 15px;
  text-align: center;
  color: rgb(125, 63, 26);
  font-size: 1.5rem;
  background-color: #e0dbe8;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23d7c4b3' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
}


.App{
    min-height: 100vh;
    background-color: #e0dbe8;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23d7c4b3' fill-opacity='0.35' fill-rule='evenodd'/%3E%3C/svg%3E");
    /* color: rgb(0, 0, 0); */
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    width: 100%;
    margin: auto;
    max-width: 900px;
    min-height: 180px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
}

p {
  color: rgb(125, 63, 26);
  font-size: 2.75rem;
  word-wrap: break-word;
}

p:last-of-type {
  margin: 10px 0;
}

.author {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.btn-container{
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color:#fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.8);
}

.btn:hover {
  filter: brightness(125%);
}

.btn:active{
  transform: translate(0, 0.3rem);
  box-shadow: rgba(255, 255, 255, 0.8);
}

.twitter-btn {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color:#fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.8);
 
  font-size: 1.5rem;
}



.twitter-btn:hover {
  color:#38a1f3;
  filter: brightness(125%);
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}










/* Loader */
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px){
    .quote{
        margin: 25px;
    }

    .quote {
        font-size: 1.5rem;
    }
    
} 